<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Gallery</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/css/reveal.css">
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Lab 1 Exhibition</h1>
				</section>
				{% for entry in entries %}
				<section data-transition="convex" data-transition-speed="slow">
					{% for image_src in entry.image_srcs %}
						<section>
							{% if loop.first %}<h2>{{ entry.title }}</h2>{% endif %}
							<img src="{{ image_src }}" class="{% if loop.first %}fragment current-visible{% endif %}" style="width: 80%"/>
						</section>
					{% endfor %}
				</section>
				{% endfor %}
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.4.1/js/reveal.min.js"></script>
		<script>
			Reveal.initialize({slideNumber: 'c/t'});
		</script>

	</body>
</html>
